<!DOCTYPE html>
<html id="home" lang="en">
<head>
<title>MIT License</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=0.70;">
<!--
Welcome fellow open source developer. This project is here for you to
link to if you're like me and keep forgetting to include the 
MIT-license.txt file.

Fork this project and send a pull request on:

  https://github.com/remy/mit-license

By adding a new JSON file to the users directory, it will yield an 
MIT License on a CNAME, for example: 

  { "copyright": "Remy Sharp, http://remysharp.com" }

Means visiting http://rem.mit-license.org/ shows "Remy Sharp" as the 
copyright holder. Namespaces will be on a first come first serve basis,
and I'm open to folk joining the GitHub project.

For more options (including linking and license version targeting) 
see the README in the github hosted project.

Hope you find this useful too!

- @rem

-->
<!-- for HTML5 el styling -->
<script>document.createElement('article');document.createElement('footer');</script>
<link rel="stylesheet" href="/themes/{{theme}}.css">
</head>
<body>
<article>
{{gravatar}}
<h1>The MIT License (MIT)</h1>
<p>Copyright © {{info}}</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the “Software”), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>
</article>
<footer>
<p><a href="https://github.com/remy/mit-license">Fork this project to create your own MIT license that you can always link to.</a></p>
</footer>
<script>var _gaq=[['_setAccount','UA-1656750-28'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)})(document,'script')</script>
</body>
</html>